:root {
  /// Fuentes tipográficas hemochas
  --fuenteParrafo: 'Inter', 'Helvetica', 'Roboto', 'Arial', 'Tahoma', 'Verdana', sans-serif;
  --fuenteNumeros: 'IBM Plex Mono', 'Courier New', monospace;
  --fuenteLogo: mixta-pro, 'Garamond', 'Georgia', 'Times', serif;

  // Paleta
  --colorAmbiente: #7cd11c;
  --grisClaro: #f5f5f5;
  --grisClaro2: #f2efed;
}
