@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
  /// Fuentes tipográficas hemochas
  --fuentePrincipal: 'Share Tech Mono', monospace;
  --fuentePrincipalPeso: 400;
  --fuenteEstilo: normal;
  --fuenteTitulo: 'Rubik Bubbles', system-ui;

  // Paleta
  --colorAmbiente: #00ae52;
  --colorInfraestructura: #59e2d7;
  --colorHabitabilidad: #ff6900;
  --colorMovilidad: #ff4319;
  --colorSeguridad: #fccdfb;
  --colorProximidad: #ff90a9;
  --colorCaminabilidad: #ff9600;

  // Colores Nefasta
  --naranja: #ff9600;
  --rojo: #ff4319;
  --rosa: #ff90a9;
  --verde: #00ae52;
  --azul: #59e2d7;
  --naranja2: #ff6900;
  --aguamarina: #61d89f;
  --rosa2: #fccdfb;
  --rosaTrans: #fccdfbef;
}
