@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
  /// Fuentes tipográficas hemochas
  --fuentePrincipal: 'Share Tech Mono', monospace;
  --fuentePrincipalPeso: 400;
  --fuenteEstilo: normal;
  --fuenteTitulo: 'Rubik Bubbles', system-ui;

  // Paleta
  --colorAmbiente: #61a9f1;
  --colorInfraestructura: #ff7f50;
  --colorMovilidad: #ff1493;
  --colorSeguridad: #8a2be2;
  --colorProximidad: #00ffea;
  --colorCaminabilidad: #ffa500;

  // Colores Nefasta

  --rojo: #ff4319;
  --naranja2: #fe6901;
  --amarillo: #febc01;
  --piel: #fde8a8;
  --menta: #7bce9c;
  --azul: #59e3d6;
  --verde: #00ae52;
  --morado: #8b5feb;
  --lila: #fcccfa;
  --rosa: #ec5dbc;

  --amarilloTitulo: #f3d78e;
  --verdeFondo: #79bc67; // #7acf9c;
}

// Tamaños Pantallas 🖥️ 📺 📱
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;
$minPantallaGigante: 1920px;
