@use 'sass:color';
@use './constantes' as *;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--fuentePrincipal);
  letter-spacing: 1px;
  line-height: 1.2;
}
h1 {
  font-family: var(--fuenteTitulo);
}

a,
a:link,
a:visited {
  color: var(--verde);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--verdeFondo);
  }
}

body {
  background-color: #fde8a7;
  margin: 0;
}

// Estilo fichas
.ficha {
  border: 1px solid black;
  height: 86vh;
  overflow: auto;
  background-color: var(--lila);
  position: fixed;
  top: 5vh;
  left: 6vw;
  padding: 3em 3em;
  width: 62vw;
  z-index: 99;

  h2 {
    font-size: 1.2em;
    letter-spacing: -0.02em;
  }

  .cerrar {
    background-color: var(--menta);
    border-radius: 50%;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    line-height: 1.5em;
    right: 1em;
    top: 1em;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;

    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.botonAbrir {
  cursor: pointer;
}

#cerrar {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }
}

.sinEventos {
  pointer-events: none;
}

@media screen and (min-width: $minTablet) {
}
